streamlit>=1.36.0
PyYAML>=6.0.1
SQLAlchemy>=2.0.30
moviepy>=1.0.3
Pillow>=10.3.0
google-cloud-aiplatform>=1.71.0
ffmpeg-python>=0.2.0
google-genai>=1.0.0
qrcode[pil]>=7.4.2
streamlit-drawable-canvas>=0.9.3
